/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.vci-container{
  .right-label{
  background-color: #2C3E5082;
color: #FFF;
}
.left-label{
  background-color: #2C3E5082;
  color: #FFF;
}
}

.vci-slider .line{
  background: $textColor !important;
}
.vci-slider .handle{
  border-color: $textColor !important;
}
.vci-slider .handle .left-arrow{
  border-color: rgba(0, 0, 0, 0) $textColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}
.vci-slider .handle .right-arrow{
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $textColor !important;
}