/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 * $accentColor = #207951
 */

/* $accentColor = #67a042 */
$accentColor = #207951
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
